<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="../../assets/images/atila-logo.png">
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width"
      style="padding: 0"
      >
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <span class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#projects">Projects</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#team">Team</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#contact">Contact Us</a>
        </span>
      </div>
      <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="../../assets/images/atila-logo.png">
          </span>
    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="../../assets/images/atila-logo-white.png">
        </span>
    <span class="mdl-navigation">
      <a class="mdl-navigation__link" href="#projects">Projects</a>
      <a class="mdl-navigation__link" href="#team">Team</a>
      <a class="mdl-navigation__link" href="#contact">Contact Us</a>
    </span>
  </div>

  <div class="android-content mdl-layout__content">
    <a name="top"></a>
    <div class="android-be-together-section mdl-typography--text-center">
      <h1 style="margin: 0">
      <div class="logo-font android-slogan atila-header">Atila
        <span style="color: gray; font-size: 50px; font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif">Tech</span></div>
      <div class="logo-font android-slogan">Your Ideas. Brought To Life.</div>
      <div class="logo-font android-sub-slogan">You have a vision for a technology product or service. We build it and bring it to life for you.</div>
      </h1>
      <div class="row">
        <form class="contact-form" #contactForm="ngForm" (ngSubmit)="sendContactEmail(contactForm)">

          <mat-form-field class="col s12 m5" style="margin-left: 10%">
            <textarea matInput placeholder="What do you need? How Can we help you?" [(ngModel)]="contactData.message"
            id="message" name="message"
            ></textarea>
          </mat-form-field>
          <div class="col s12 m5">
            <!--How Can we Help:-->
            <div class="input-field inline">
              <input id="email" name="email" type="email" class="validate" style="background-color: white"
                     [(ngModel)]="contactData.email">
              <label for="email">Email </label>
              <span class="helper-text" data-error="wrong" data-success="right">How can we Reach you?</span>
            </div>
          </div>
          <div class="col s12">
            <button mat-raised-button style="background-color: #4080ff; color: white; margin: 1%" (click)="sendContactEmail(contactForm); false">
              Send Message
            </button>
          </div>

        </form>
      </div>

      <a href="#screens">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">expand_more</i>
        </button>
      </a>
    </div>
    <div class="android-screen-section mdl-typography--text-center">
      <a name="screens"></a>
      <div class="mdl-typography--display-1-color-contrast">Built for All Devices</div>
      <div class="android-screens">
        <div class="android-wear android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="../../assets/images/wear-silver-on.png">
            <!--<img class="android-screen-image" src="../../assets/images/wear-black-on.png">-->
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Wearable Devices</a>
        </div>
        <div class="android-phone android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="../../assets/images/nexus6-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
        </div>
        <div class="android-tablet android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="../../assets/images/nexus9-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
        </div>
        <div class="android-tv android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="../../assets/images/tv-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Desktop</a>
        </div>
        <div class="android-auto android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="../../assets/images/auto-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Anything you want</a>
        </div>
      </div>
    </div>
    <div class="android-more-section row" id="projects">
      <div class="android-section-title mdl-typography--display-1-color-contrast col s12">Projects</div>
      <div class="col s12 m4" *ngFor="let project of PROJECTS">
        <div class="card sticky-action" style="overflow: visible;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" [src]=project.image>
            <!--<a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
          </div>
          <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <a [href]="project.projectUrl" target="_blank">
              {{project.title}}
            </a>
            <i class="material-icons right">more_vert</i>
          </span>
            <p>{{project.description}} </p>
          </div>
          <div class="card-action">
            <a [href]="project.projectUrl" target="_blank">View Project</a>
          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0%);">
            <span class="card-title grey-text text-darken-4">{{project.title}}<i class="material-icons right">close</i></span>
            <p>{{project.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="android-more-section row" id="team">
      <div class="android-section-title mdl-typography--display-1-color-contrast col s12">Team</div>
      <div class="col s12 m4" *ngFor="let member of TEAM_MEMBERS">
        <div class="card sticky-action" style="overflow: visible;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" [src]=member.image style="height: 325px; width: auto">
            <!--<a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
          </div>
          <div class="card-content" style="height: 250px">
          <span class="card-title activator grey-text text-darken-4">{{member.name}}<i class="material-icons right">more_vert</i></span>
          <span class="grey-text">{{member.title}}</span><br/>
            <span class="inner-html" [innerHTML]="member.shortBio"></span>
          </div>
          <div class="card-action">
            <a *ngIf="member.profileUrl" [href]="member.profileUrl" target="_blank">Profile</a>
            <a [href]="member.linkedInUrl" target="_blank">LinkedIn</a>
          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0%);">
            <span class="card-title grey-text text-darken-4">{{member.name}}<i class="material-icons right">close</i></span>
            <p>{{member.longBio}}</p>
          </div>
        </div>
      </div>

      <p style="font-size: larger" class="col-sm-12 col-md-8 offset-md-d-2">
        If you would like to join the team or help out in some way,
        <a  href="mailto:info@atila.ca">send an email </a> to <a  href="mailto:info@atila.ca">info@atila.ca</a> with your resume and/or links to cool stuff you've done.

        <br>
        <!--Also, Briefly mention why you would like to join and how you would like to add value to the team.-->

        <!--<br>-->
        <!--Coding experience is preferred but anyone who can add value is welcome.-->
      </p>
    </div>

    <div class="android-more-section android-be-together-section row" id="contact" style="max-width: none; padding-top: 3%; padding-bottom: 3%">
      <div class="android-section-title mdl-typography--display-1-color-contrast col s12" style="text-align: center">Contact us</div>
      <form class="contact-form" #contactForm="ngForm" (ngSubmit)="sendContactEmail(contactForm)">

        <mat-form-field class="col s12 m5" style="margin-left: 10%">
            <textarea matInput placeholder="What do you need? How Can we help you?" [(ngModel)]="contactData.message"
                      id="message" name="message"
            ></textarea>
        </mat-form-field>
        <div class="col s12 m5">
          <!--How Can we Help:-->
          <div class="input-field inline">
            <input id="email" name="email" type="email" class="validate" style="background-color: white"
                   [(ngModel)]="contactData.email">
            <label for="email">Email </label>
            <span class="helper-text" data-error="wrong" data-success="right">How can we Reach you?</span>
          </div>
        </div>
        <div class="col s12">
          <button class="col offset-m6" mat-raised-button style="background-color: #4080ff; color: white;margin-top: 1%;margin-bottom: 1%;"
                  (click)="sendContactEmail(contactForm); false">
            Send Message
          </button>
        </div>

      </form>
    </div>

    <footer class="android-footer mdl-mega-footer">
      <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
          <div class="col l3 s12">
            <h5 >Connect</h5>
            <ul id="connect-links">
              <li><a  target="_blank" rel="noopener" href="https://www.facebook.com/atilatech1/"><mat-icon svgIcon="facebook-box"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCG2iWiYgJYkjBl4EdYGI5mw/"><mat-icon svgIcon="youtube-play"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="https://twitter.com/atilatech"><mat-icon svgIcon="twitter"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="https://www.instagram.com/atilatech/"><mat-icon svgIcon="instagram"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="https://www.linkedin.com/company/atila-tech/"><mat-icon svgIcon="linkedin"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="https://medium.com/atila-tech"><mat-icon svgIcon="medium"></mat-icon></a></li>
              <li><a  target="_blank" rel="noopener" href="http://snapchat.com/add/atilatech"><mat-icon svgIcon="snapchat"></mat-icon></a></li>
              <!-- Distracting seeing the number of user Likes while working on Atila, adblock it-->

              <!--<li name="block-fb-like">-->
              <li>
                <!--https://stackoverflow.com/questions/20446818/facebook-like-button-responsive-width-->
                <iframe name="f2addcfb63a04c" height="1000px" frameborder="0" allowtransparency="true"
                        allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin"
                        src=""
                        style="border: none; visibility: visible; width: 100%; height: 100px;" id="lazy-load-fb-like"></iframe>
              </li>
              <br>
              <!--<li name="block-fb-like">-->
              <!--<div-->
              <!--class="fb-like"-->
              <!--data-href="https://www.facebook.com/atilatech1/"-->
              <!--data-share="true"-->
              <!--data-size="large"-->
              <!--data-colorscheme="dark"-->
              <!--data-show-faces="true">-->
              <!--</div></li>-->
              <!--<br>-->
              <li><a href="https://twitter.com/atilatech?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                     data-size="large" data-show-count="false" target="_blank" rel="noopener">Follow @atilatech</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </li>
              <!-- <li><a  title="atilatech" target="_blank" routerLink="/"><mat-icon svgIcon="snapchat"></mat-icon>: atilatech</a></li> -->
            </ul>
          </div>
        </div>
        <div class="mdl-mega-footer--right-section">
          <a class="mdl-typography--font-light" href="#top">
            Back to Top
            <i class="material-icons">expand_less</i>
          </a>
        </div>
      </div>

      <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">Atila: © 2018, Canada</p>
        <p class="mdl-typography--font-light">Your Ideas. Brought to Life. The Right Way.</p>
      </div>

      <div class="mdl-mega-footer--bottom-section">
        <!--<a class="android-link android-link-menu mdl-typography&#45;&#45;font-light" id="version-dropdown">-->
          <!--Versions-->
          <!--<i class="material-icons">arrow_drop_up</i>-->
        <!--</a>-->
        <!--<ul class="mdl-menu mdl-js-menu mdl-menu&#45;&#45;top-left mdl-js-ripple-effect" for="version-dropdown">-->
          <!--<a href="https://github.com/atilatech/" target="_blank"><li class="mdl-menu__item">Atila Github</li></a>-->
          <!--<a href="https://atila.ca/profile/atilaeng" target="_blank"><li class="mdl-menu__item">Atila Engineering</li></a>-->
          <!--<a href="https://docs.google.com/document/d/1TzAjCQi73Msiw-dHRWWbDadYbidQ2wXyEdKl7qrWq94/edit?usp=sharing" target="_blank">-->
            <!--<li class="mdl-menu__item">Atila Engineering Training Guide</li>-->
          <!--</a>-->
        <!--</ul>-->
        <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
          For Developers
          <i class="material-icons">arrow_drop_up</i>
        </a>
        <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
          <a href="https://github.com/atilatech/" target="_blank"><li class="mdl-menu__item">Atila Github</li></a>
          <a href="https://atila.ca/profile/atilaeng" target="_blank"><li class="mdl-menu__item">Atila Engineering</li></a>
          <a href="https://docs.google.com/document/d/1TzAjCQi73Msiw-dHRWWbDadYbidQ2wXyEdKl7qrWq94/edit?usp=sharing" target="_blank">
            <li class="mdl-menu__item">Atila Engineering Training Guide</li>
          </a>
        </ul>
        <a class="android-link mdl-typography--font-light" href="https://atila.ca/profile/atilaeng" target="_blank">Blog</a>
        <!--<a class="android-link mdl-typography&#45;&#45;font-light" href="">Privacy Policy</a>-->
      </div>

    </footer>
  </div>
</div>
<a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/android-dot-com/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
